.carrito {
  @include d-flex-col;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100dvh - 70px);
  margin-top: 70px;
  width: 100%;
  
  &_title {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: left;
    width: 1200px;
    font-family: 'audiowide'
  }

  &_info {

    &_list {
      @include d-flex-col;
      justify-content: flex-start;
      margin-bottom: 50px;
      width: 1200px;
      gap: 10px;
      align-items: center;
      
      &_item {
        @include d-flex-row;
        border-radius: 5px;
        justify-content: space-between;
        width: 100%;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
        background-color: #252525;
        padding-right: 20px;
        img {
          height: 150px;
          object-fit: cover;
          border-radius: 10px 0px 0px 10px;
        }
        button {
          cursor: pointer;
          transition: all .3s ease-in-out;
          height: 30px;
          width: 80px;
          background-color: #373737;
          border: none;
          &:hover {
            background-color: #444444;
          }
        }

        &_title {
          width: 30%;
          h2 {
            font-size: 20px;
            width: 100%;
          }
        }

        &_data {
          @include d-flex-row;
          width: 300px;
          justify-content: space-between;
          p {
            width: 120px;
            font-size: 20px;
            text-align: center;
          }
          h3 {
            width: 100px;
            font-size: 20px;
            text-align: center
          }
        }
      }
      &_total {
        @include d-flex-row;
        width: 100%;
        border-top: solid 3px #373737;
        padding-top: 20px;
        justify-content: space-between;
        align-items: center;
        h2 {
          font-size: 20px;
        }
        &_button {
          @include d-flex-row;
          transition: color .3s ease-in-out;
          background-color: #373737;
          font-weight: bold;
          font-size: 18px;
          text-shadow: 0px 0px 10px #949494;
          border-radius: 5px;
          width: 200px;
          height: 40px;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &:hover {
            background-color: #5f5f5f;
          }
        }
      }
    }
  }
  &_vacio {
    @include d-flex-row;
    width: 1200px;
    height: calc(100dvh - 170px);
    justify-content: space-between;
    &:hover {
      i {
        color: rgb(255, 0, 183);
      }
    }
    i {
      transition: .5s;
      font-size: 250px;
      color: rgb(0, 200, 255);
    }
    h2 {
      font-size: 50px;
      width: 70%;
      text-align: left;
      a {
        transition: .3s;
        font-family: 'audiowide';
        text-decoration: underline;
        color: transparent;
        &:hover {
          color: #fff;
        }
      }
      &::before {
        width: 100%;
      }
    }
  }
}