.categorias {
  height: calc(100dvh - 70px);
  margin-top: 70px;
  @include d-flex-col;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  
  
  &_list {
    @include d-flex-row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 1200px;
    list-style: none;
    gap: 10px;

    &_item {
      width: calc(33.33% - 10px);
      height: 45px;
      border: solid 2px rgba(124, 124, 124, 0.4);
      border-radius: 5px;
      background-color: rgba(124, 124, 124, 0.2);
      transition: background-color .3s ease-in-out;
      &:last-child {
        margin-right: auto;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
        align-content: center;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
      }

      &:hover {
        background-color: rgba(124, 124, 124, 0.4);
      } 

    }
  }
  .bubble {
    top: 20%;
  }
}